* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

html,
body {
    height: 100%;
    font-family: 'Karla Regular', sans-serif;
}

/* media queries to add responsive attributes to the page */
@media (min-width: 240px) {
    body {
        font-size: .6rem;
    }
    .h1 {
        font-size: .2rem;
    }
    #headImage {
        background: url('../img/image1-320.png');
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 320px) {
    body {
        font-size: .8rem;
    }
    #headImage {
        background: url('../img/image1-320.png');
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #girl {
    	height: 80px;
    }
}

@media (min-width: 480px) {
    body {
        font-size: .8rem;
    }
    #headImage {
        background: url('../img/image1-768.png');
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}

@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }
    #headImage {
        background: url('../img/image1-768a.png');
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
	#girl {
    	height: 200px;
    }
   
}

@media (min-width:960px) {
    body {
        font-size: 1.2rem;
    }
    #headImage {
        background: url('../img/image1-1024.png');
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media (max-width:1024px) {
    body {
        font-size: 1.5rem;
    }
    #headImage {
        background: url('../img/image1.jpg');
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
}

/* html elements stylings begin here */
header {
    background: url('../img/image1-1024.png');
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( to bottom, rgba(201, 197, 197, 0.83) 0.5%, rgba(9, 14, 63, 1), rgba(9, 14, 63, 1), rgba(0, 0, 0, 1));
    opacity: 0.6;
}

header .overlay {
    float: right;
    width: 30%;
    margin-top: 360px;
    color: #ffffff;
    z-index: 1;
    opacity: .99;
}

.arrow {
    position: relative;
    cursor: pointer;
    width: 9px;
    height: 47px;
    margin: -150px auto;
    opacity: .99;
}

.h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
}

.txt-header {
    font-size: 1rem;
    margin-top: 8px;
    font-weight: 100;
}

.imgBtn {
    float: left;
    margin-top: 6px;
    padding-right: 8px;
    width: 32%;
    cursor: pointer;
}

nav {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 28px;
    line-height: 60px;
    color: #2E5566;
    background-color: #ffffff;
    transition: all;
    -webkit-box-shadow: 3px 3px 3px rgba(224, 224, 224, 0.8);
    -moz-box-shadow: 3px 3px 3px rgba(224, 224, 224, 0.8);
    box-shadow: 2px 2px 2px rgba(224, 224, 224, 0.8);
    z-index: 1;
}

.navbar-fixed {
    position: fixed;
    top: 0;
}

nav p {
    display: inline-block;
    float: left;
}

#girl-container {
    visibility: hidden;
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

#main {
    margin-top: 380px;
}

.mainH1 {
    color: #2E5566;
    font-size: 2rem;
    margin: 0 auto;
    width: 20%;
    text-align: center;
}

.container {
    margin: auto;
    width: 100%;
    height: 700px;
}

footer {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: #2E5566;
    line-height: 25px;
    height: 300px;
}

#p-footer {
    color: #2E5566;
    font-size: 2rem;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding-top: 6px;
    font-size: 1rem;
}

li {
    cursor: pointer;
}

.fadeIn {
    -webkit-animation: fade_in 1s;
    animation: fade_in 1s ease-in;
    visibility: visible !important;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade_in {
    from {opacity :0;}
    to {opacity :1;}
}

.fadeOut {
    -webkit-animation: fade_out .5s;
    animation: fade_out .5s ease-out;
    visibility: visible !important;
    animation-fill-mode: forwards;
    animation-delay:.5s;
}

@-webkit-keyframes fade_out {
     from {opacity :1;}
    to {opacity :0;}
}
