* {
    margin: 0;
    padding: 0;
}

html, body {
	height: 100%;
    font-family: 'Karla Regular', sans-serif;
}

.navBar {
	position: absolute;
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 20px;
    padding-left: 28px;
    line-height: 24px;
	z-index: 99;
    color: #015d9b;
    transition:  all 0.5s ease;
    -webkit-box-shadow: 3px 3px 3px rgba(224, 224, 224, 0.8);
    -moz-box-shadow: 3px 3px 3px rgba(224, 224, 224, 0.8);
    box-shadow: 2px 2px 2px rgba(224, 224, 224, 0.8);
}

.navBar.hidden {
	transform: translate3d(0, -100%, 0);
}

.navBar p {
	display:  inline-block;
    float: left;
}
.navBar ul {
    float: right;
}
